html {
  font-size: 10px;
  /* background: url("./background.jpg") bottom center;
  background-size: cover; */
  background-color: black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -5;

  opacity: 0.3;
}

.center {
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.keys {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 50px;
  row-gap: 2px;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.key {
  /* border: 0.4rem solid black; */
  border-radius: 0.6rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(60, 60, 60, 0.3);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #39ff14;
  box-shadow: 0 0 1rem #39ff14;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #39ff50;
}
